.footer-container {
    background-color: white;
    color: black;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer-section {
    width: 30%;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  h3 {
    font-size: 18px;
    color: rgb(247, 52, 117);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
  }
  
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    color: rgb(86, 4, 4);
  }
  
  .footer-bottom p {
    font-size: 14px;
    margin: 0;
  }
 
  .con{
    height: 20px;
    width: 20px;
    padding-top: 6px;
  }